
a, .webz-pseudo-link {
  color: $link-color;
  text-decoration: $link-text-decoration;
}
a:hover, a:hover .webz-pseudo-link {
  color: $link-hover-color;
  text-decoration: $link-hover-text-decoration;
}
a:visited, a:visited .webz-pseudo-link {
  @include link-visited-color();
}

a.dialog-wrapper {
  text-decoration: none;
}

.todo-sketch-bg, .todo-day-bg, .todo-night-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  
  z-index: -10000;
  //background-repeat: no-repeat;
}
.todo-sketch-bg {
  background-position: top center;
  @include background-size(auto $todo-sketch-portrait-background-size);
}
.todo-day-bg, .todo-night-bg {
  background-position: center;
}
.todo-day-bg {
  @include background-size(auto $todo-day-portrait-background-size);
}
.todo-night-bg {
  @include background-size(auto $todo-night-portrait-background-size);
}

@media only screen and (min-aspect-ratio: 4/3) {
  .todo-sketch-bg {
    @include background-size($todo-sketch-landscape-background-size);
  }
}
@media only screen and (min-aspect-ratio: 16/10) {
  .todo-day-bg {
    @include background-size($todo-day-landscape-background-size);
  }
  .todo-night-bg {
    @include background-size(todo-night-landscape-background-size);
  }
}

$todo-sketch-bg-colorrr: #788065;
.todo-sketch-bg {
  background-image: url("../images/todo-express-o-matic-sharp-title.jpg");
  background-color: $todo-sketch-bg-colorrr;
}
.todo-day-bg {
  background-image: url("../images/23.jpg");
  background-color: white; // TODO set "averrage" color of the image
}
.todo-night-bg {
  background-image: url("../images/23b.jpg");
  background-color: black; // TODO set "averrage" color of the image
}

html, body {
  height: 100%;
}
html {
  background-color: $todo-sketch-bg-colorrr;
}
.webz-container {
  min-height: 100%;
  height: 100%;
}

.webz-header-main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0-$footer-height;
  background: $webz-container-background;
  background: $webz-container-background-transparent;
}
.footer-container, .webz-push {
  height: $footer-height;
}
